{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="maincontainer">
        <div class="eventsform">
            <select id="select-event" placeholder="Выберите мероприятие...">
                <option value="">Выберите мероприятие...</option>
                {% for e in events %}
                    <option value="{{ e.id }}">{{ e.description|truncatechars:65 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <style>
        div .maincontainer {
            margin: 2rem;
        }
        div.eventsform {
            display: flex;
            flex-direction: column;
        }

        div.eventsform label, div.eventsform p {
            margin-top: 2rem;
            font-size: 2rem;
        }

        .selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input,
        .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
            width: 50rem;
            height: 5rem;
            font-size: large;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    </style>
    <script>
        $(document).ready(function () {
              $('select').selectize({
                  sortField: 'text'
              });
          });
    </script>
{% endblock %}
