{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load static %}
    
{% block content %}
<form action="" method="get" class="worktable">
    <label for="workType" class="worktable">Выберите вид работ:</label>
    <select id="workType" class="selectWorkType worktable" name="select">
        <option value="all" name="all" class="worktable">Все виды работ</option>
        
        {% for el in workTypes %}
        <option value="{{el.name}}" name="{{el.name}}" class="worktable">{{el.name}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="workTypeBtnSubmit worktable">Фильтровать</button>
</form>

<section class="desktop worktable">
    <table class="worktable">
        <thead class="worktable">
            <tr class="worktable">
                <th class="worktable">Дата Регистрации</th>
                <th class="worktable">Вид работ</th>
                <th class="worktable">Срок выполнения</th>
                <th class="worktable">Мероприятие</th>
                <th class="worktable">Помещение</th>
                <th class="worktable">Описание</th>
                <th class="worktable">Выполнено</th>
            </tr>
        </thead>
        <tbody class="worktable">
            {% for el in objects %}
                <tr class="worktable">
                    <td class="worktable">{{el.date}} {{el.time}}</td>
                    <td class="worktable">{{el.work_type}}</td>
                    <td class="worktable">{{el.date_end}} {{el.time_end}}</td>
                    <td class="worktable">{{el.event}}</td>
                    <td class="worktable">{{el.room}}</td>
                    <td class="worktable">{{el.description}}</td>
                    <td class="worktable">
                        <form action="" method="get" class="worktable">
                            <button name="del" type="submit" class="workTypeBtnSubmit worktable" value="{{el.pk}}">Изменить на Выполнено</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
