.local
.ipython
.cache
venv
.virtualenvs
.profile
.bashrc
.pythonstartup
.vimrc
.idea
cultureNto/static/admin
cultureNto/static/django_tables2
cultureNto/static/django_extensions
__pycache__
README.txt
cultureNto.zip
culture.exe
cultureNto/db.sqlite3
